.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  min-height: 361px;
}

.card__image {
  height: 282px;
  object-fit: fill;
  object-position: top;
}

.card__description {
  display: flex;
  background-color: #ffffff;
  padding: 25px 28px 25px 20px;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.card__title {
  max-width: 220px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

.card__like-button {
  background: transparent url(../images/Like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 60%;
}
