.footer {
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.footer__copyright {
  margin: 67px 20px 60px;
  color: #545454;
  font-size: 18px;
  line-height: normal;
}

@media screen and (max-width: 920px) {
  .footer__copyright {
    margin: 0 20px;
  }
}

@media screen and (max-width: 770px) {
  .footer {
    max-width: 580px;
  }
}

@media screen and (max-width: 618px) {
  .footer {
    max-width: 290px;
  }
}

@media screen and (max-width: 620px) {
  .footer__copyright {
    margin: 52px 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
  }

  .footer__copyright {
    margin: 48px 0 36px;
    font-size: 14px;
  }
}
