.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin: 0px 0 40px;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin: 0 20px 40px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin: 0 0 36px 29px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
  }

  .header__logo {
    max-width: 126px;
    margin: 24px 0 32px 27px;
  }
}
