.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__close {
  border: none;
  cursor: pointer;
  position: absolute;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  top: -48.28px;
  right: -48.28px;
  width: 40px;
  height: 40px;
  transition: 0.6s;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__form {
  opacity: 0;
}

.modal__input {
  display: grid;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__heading {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  margin: 0 0 54px;
}
