.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 50px;
}

.profile__image {
  max-width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin: 0 30px 0 0;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: baseline;
  column-gap: 18px;
}

.profile__title {
  grid-area: title;
  font-size: 41px;
  font-weight: 500;
  line-height: 48px;
  max-width: 370px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border-radius: 1px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/addd-button.svg) center no-repeat;
  background-size: 22px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  border-radius: 2px;
  border: 2px solid #fff;
  transition: 0.5s ease;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  max-width: 420px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .profile {
    margin: 0 20px;
  }
}

@media screen and (max-width: 770px) {
  .profile__description {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 331px) auto;
  }

  .profile__title {
    font-size: 36px;
  }

  .profile__add-button {
    width: 55px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    padding: 0;
  }

  .profile__image {
    margin: 38px 0 0 0;
    max-width: 170px;
  }

  .profile__title {
    text-align: center;
    margin: 26px 0 0;
  }

  .profile__info {
    justify-content: center;
    width: 100%;
    grid-template-columns: minmax(auto, 330px) auto;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin: 14px 0 0;
  }

  .profile__add-button {
    width: 100%;
    margin: 36px 0;
    background-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 320px;
  }

  .profile__image {
    max-width: 169px;
    margin: 40px 0 0;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 202px) auto;
    column-gap: 10px;
  }

  .profile__title {
    min-width: 0;
    font-size: 22px;
    line-height: normal;
  }

  .profile__description {
    max-width: 282px;
    font-size: 14px;
  }

  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}
